@charset "UTF-8";   
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    background-color: lightpink;
    width: 100vw;
    height: 100vh;
}
header {
    background-color: rgb(250, 125, 144);
}
#logo{
    margin-left: 20px;
}
header h1{
    display: inline-block;
    background-color: blue;
    font-size: 2.5em;
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
    
}
#menu3{
    padding-left: 2%;
    
    width: 43px;
    font-size: 2.3em;
    
}
menu{
    position: absolute;
    top: 9%;
    left: 78%;

    background-color: blue;
    display: none;
    padding-left: ;
}
header h4{
    margin-left: 20%;
    margin-bottom: 3%;
}
#redes{
   
   text-align: right;
   padding-right: 25%;
} 
img{
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 25%;
}